@inherits Component

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">VTT Tools</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <AuthorizeView>
        <Authorized>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <NavLink class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown">
                Library
              </NavLink>
              <ul class="dropdown-menu dropdown-menu-dark custom-dropdown-menu">
                <li><a class="dropdown-item" href="@AdventuresUri">Adventures</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <NavLink class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown">
                Stage
              </NavLink>
              <ul class="dropdown-menu dropdown-menu-dark custom-dropdown-menu">
                <li><button class="dropdown-item" onclick="SceneBuilder.openChangeImageModal()">Change Image</button></li>
                <li><button class="dropdown-item" onclick="SceneBuilder.openGridSettingsModal()">Set Grid</button></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <NavLink class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown">
                Assets
              </NavLink>
              <ul class="dropdown-menu dropdown-menu-dark custom-dropdown-menu">
                <li><button class="dropdown-item" onclick="SceneBuilder.startAssetPlacement('Creature')">Add Creature</button></li>
                <li><button class="dropdown-item" onclick="SceneBuilder.startAssetPlacement('Character')">Add Character</button></li>
                <li><button class="dropdown-item" onclick="SceneBuilder.startAssetPlacement('NPC')">Add NPC</button></li>
                <li><button class="dropdown-item" onclick="SceneBuilder.startAssetPlacement('Object')">Add Object</button></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <NavLink class="nav-link dropdown-toggle text-light disabled" role="button" data-bs-toggle="dropdown">
                Structures
              </NavLink>
              <ul class="dropdown-menu dropdown-menu-dark custom-dropdown-menu">
                <li><button class="dropdown-item" disabled>Draw Wall</button></li>
                <li><button class="dropdown-item" disabled>Draw Door</button></li>
                <li><button class="dropdown-item" disabled>Draw Window</button></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav me-auto">
            <li class="nav-item d-flex align-items-center">
              <button class="btn btn-sm btn-outline-light me-2" onclick="SceneBuilder.setZoom('X')" title="Reset Zoom">
                <span class="icon small reset-zoom" aria-hidden="true"></span>
              </button>
              <button class="btn btn-sm btn-outline-light me-2" onclick="SceneBuilder.setZoom('H')" title="Zoom to Fit Horizontally">
                <span class="icon small zoom-fit-horz" aria-hidden="true"></span>
              </button>
              <button class="btn btn-sm btn-outline-light me-2" onclick="SceneBuilder.setZoom('V')" title="Zoom to Fit Vertically">
                <span class="icon small zoom-fit-vert" aria-hidden="true"></span>
              </button>
              <button class="btn btn-sm btn-outline-light me-2" onclick="SceneBuilder.setZoom('+')" title="Increase Zoom">
                <span class="icon small zoom-in" aria-hidden="true"></span>
              </button>
              <span id="zoom-level-display" class="text-light me-2">@ZoomLevelDisplay</span>
              <button class="btn btn-sm btn-outline-light me-2" onclick="SceneBuilder.setZoom('-')" title="Decrease Zoom">
                <span class="icon small zoom-out" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <NavLink class="nav-link text-light" href="@ProfileUri">
                <span class="icon small profile filled me-1" aria-hidden="true"></span>@User!.DisplayName
              </NavLink>
            </li>
            <li class="nav-item">
              <form id="logout-form" action="@LogoutUri" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@CurrentLocation" />
                <button id="logout-submit" type="submit" class="nav-link text-light">
                  <span class="icon small logout filled me-1" aria-hidden="true"></span> Logout
                </button>
              </form>
            </li>
          </ul>
        </Authorized>

        <NotAuthorized>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <NavLink class="nav-link text-light" href="@LoginUri">
                <span class="icon small login"></span> Login
              </NavLink>
            </li>
            <li class="nav-item">
              <NavLink class="nav-link text-light" href="@RegisterUri">
                <span class="icon small register"></span> Register
              </NavLink>
            </li>
          </ul>
        </NotAuthorized>
      </AuthorizeView>
    </div>
  </div>
</nav>
