@page "/sessions"
@inherits Page<GameSessionsPage, GameSessionsPageHandler>
@rendermode InteractiveServer

<PageTitle>Schedule</PageTitle>

<div class="container">
  <div id="page-header" class="row mb-4">
    <div class="col">
      <h1>Schedule</h1>
    </div>
    <div class="col-auto">
      <button id="create-session" class="btn btn-primary" @onclick="ShowCreateDialog">Create New GameSession</button>
    </div>
  </div>
@if (!IsReady) {
  <div id="loading-message" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
else if (State.GameSessions.Count == 0) {
  <div id="no-items-message" class="alert alert-info">
    You don't have any game sessions yet. Create a new game session to get started!
  </div>
}
else {
  <div class="row row-cols-1 row-cols-md-3 g-4">
  @foreach (var session in State.GameSessions) {
    <div class="col">
      <div id="@($"session-{session.Id}")" class="card h-100">
        <div class="card-body">
          <h5 class="card-title">@session.Title</h5>
          <p class="card-text">
            <small class="text-muted">@session.Players.Count player(s)</small>
          </p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <button class="btn btn-sm btn-primary join" @onclick="() => JoinGameSession(session.Id)">Join</button>
            <button class="btn btn-sm btn-primary edit" @onclick="() => NavigateToGameSession(session.Id)">Edit</button>
          @if (session.OwnerId == User!.Id) {
            <button class="btn btn-sm btn-outline-danger delete" @onclick="() => DeleteGameSession(session.Id)">Delete</button>
          }
          </div>
        </div>
      </div>
    </div>
  }
  </div>
}

</div>

@if (IsReady && State.IsCreating) {
<div id="create-session-dialog" class="modal fade show" style="display: block;" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <EditForm id="create-session-form" Model="Input" FormName="create" OnValidSubmit="CreateGameSession" method="post">
        <div class="modal-header">
          <h5 class="modal-title">New GameSession</h5>
          <button id="create-session-dialog-close" adventureid="button" class="btn-close" @onclick="HideCreateDialog"></button>
        </div>
        <div class="modal-body">
          <DataAnnotationsValidator />
          <ValidationSummary class="text-danger" role="alert" />
          <div class="form-floating mb-3">
            <InputText id="create-session-subject-input" @bind-Value="Input.Subject" class="form-control mb-1" />
            <label for="create-session-subject-input" class="form-label">nameof(Input.Title)</label>
            <ValidationMessage For="() => Input.Subject" class="text-danger" />
          </div>
        @if (Input.Adventures.Count > 0) {
        } else {
          <div class="form-floating mb-3">
            <InputSelect id="create-session-adventure-input" @bind-Value="Input.AdventureId" class="form-select mb-1">
              <option value="">Select an adventure...</option>
            @foreach (var adventure in Input.Adventures)
            {
              <option value="@adventure.Id">@adventure.Name</option>
            }
            </InputSelect>
            <label for="create-session-adventure-input" class="form-label">Adventure</label>
            <ValidationMessage For="() => Input.AdventureId" class="text-danger" />
          </div>
        }
        @if (Input.Scenes.Count > 0) {
          <div class="form-floating mb-3">
            <InputSelect id="create-session-scene-input" @bind-Value="Input.SceneId" class="form-select mb-1">
              <option value="">Select an scene...</option>
            @foreach (var scene in Input.Scenes)
            {
              <option value="@scene.Id">@scene.Name</option>
            }
            </InputSelect>
            <label for="create-session-scene-input" class="form-label">Scene</label>
            <ValidationMessage For="() => Input.SceneId" class="text-danger" />
          </div>
        }
        </div>
        <div class="modal-footer">
          <button id="create-session-cancel"adventureid="button" class="btn btn-secondary" @onclick="HideCreateDialog">Cancel</button>
          <button id="create-session-submit" adventureid="submit" class="btn btn-primary">Create</button>
        </div>
      </EditForm>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
}
